extends base  

block append script
  script(src='js/owl.carousel.min.js')
  script(src='js/jquery.pagepiling.min.js')
  script(src='js/script.js')
  script(src='js/pageInit.js')


block content
  .section.black_background
    .section-item.text-left
      .container
        .row.align-items-end.mt50
          .col-sm-8.mb90
            h3.section-item-title-xs about us
            h1.h2-flash.font-abril.mb-0.
              
              A Digital Revolution in Textile Market by Zero-Waste Technology
              
            hr
            h2 Backed by a Decentralized Circular Economy
            .fs18.text-grey.
              
              The engineering pilot plant comprises prototyping module machinery able to test small sizes of local high-standard raw materials to be subjected to natural dyeing technology by offering dynamic data related to treatment, analysis and conservation of water wastes.
              
          .col-sm-4.mb90
            .rounded-logo
              img(src='./img/Logo.ico/android-icon-192x192.png' alt='logo')
        .row
          .col-lg-10
            blockquote.blockquote.blockquote-status.text-left.mt-3.mb-0
              .font-libre.
                
                Naturaldyer OÜ is focused on digitizing textile manufacturing processes by developing natural dyeing technology related to an intelligent application dedicated to digital weaving procedures. We offer online mass personalization of biodegradable textiles by collecting available products and services provided by spinner-mills and weaving facilities to be activated on a digital customizer to manage personalized order reports on small and flexible quantities fabrics. The method works on defined warp-chains to be shared with online business users who demand access to the market by evaluating new yarns and colours to add brand value.
                
              footer
                strong.fs18.text-black Massimilliano Merlicco,
                br
                | Founder & CEO at Naturaldyers

    .container
      .row
        .col-sm-8
          h2.h2-flash.font-abril.mb60.mt80.
            
            Territorial Harvesting areas
            
    .section-item
      .container-fluid
        .image.mask-skew.wow.fadeIn(data-wow-offset='150' data-wow-duration='0.2s' data-wow-delay='.3s')
          .mask.wow.slideInLeft(data-wow-offset='150' data-wow-duration='1.2s' data-wow-delay='.3s')
            .inside
          img.img-fluid(src='img/pic156.jpg' alt)
    .container.mt55
      .row
        .col-sm-12
          p.fs18.
            
            The territorial pilot plants is offered by loan for use to local farmers interested in transformation procedures of Linerian fibres, native wools and natural pigments obtained by various matrices such as officinalis plants, medical herbs, algae and mushrooms directly on the field.
            
    .section-item.text-left
      .container
        .row
          .col-sm-8
            h3.section-item-title-xs.mt150 Our Mission
            h1.h2-flash.font-abril.
              
              We are passionate about textile & technology.
              
        .row.horizontal-service-list
          .col-lg-4
            .horizontal-service-item.wow.fadeInUp(data-wow-delay='.2s')
              .num 1.
              .horizontal-service-item-photo
                img.photo-position(src='img/horizontal-pic2.png' alt)
              .horizontal-service-item-title.
                
                Digital hub
                
              .horizontal-service-item-descr.text-grey.
                
                The information technology instrument works as online estimator to provide personalized fabrics order reports by offering tested demonstrative samples for access to a reserved dashboard able to upgrade the digital tool of components such as new customized patterns and colors to increase the variable of personalization in line with each own expenses capacity
                
              .horizontal-service-item-more
                a.btn.btn-primary.btn-sm(href='service.html')
                  | Learn more 
                  i.icon.ion-ios-arrow-right
          .col-lg-4
            .horizontal-service-item.wow.fadeInUp(data-wow-delay='.4s')
              .num 2.
              .horizontal-service-item-photo
                img.photo-position(src='img/horizontal-pic3.png' alt)
              .horizontal-service-item-title.
                
                Mass-personalization
                
              .horizontal-service-item-descr.text-grey.
                
                The software is integrated with a virtual sales area where Designers can personalize flexible quantities of fabrics to be used prototyping unique and exclusive lead products to be offered to chromatic mass-personalization by connecting with professional retailers and consumers.
                
              .horizontal-service-item-more
                a.btn.btn-primary.btn-sm(href='service.html')
                  | Learn more 
                  i.icon.ion-ios-arrow-right
          .col-lg-4
            .horizontal-service-item.wow.fadeInUp(data-wow-delay='.6s')
              .num 3.
              .horizontal-service-item-photo.photo3
                img.photo-position(src='img/horizontal-pic4.png' alt)
              .horizontal-service-item-title.
                
                Smart Application
                
              .horizontal-service-item-descr.text-grey.
                
                The DIGITAL HUB services is integrated with territorial pilot plant to collect local high-standard raw materials to be standardized by registered supply-chain in order to connect Farmers in a global Brand identity able to share profits directly generated by online users for divulging dynamic data related to an innovative Zero Waste solution to the textile market.
                
              .horizontal-service-item-more
                a.btn.btn-primary.btn-sm(href='service.html')
                  | Learn more 
                  i.icon.ion-ios-arrow-right
    .section-item.text-left
      .container
        .row
          .col-sm-8
            h3.section-item-title-xs Zero waste technology
            h1.h2-flash.font-abril.mb30 Decentralized circular Bio-economy
            ul.p-0.mt5
              li The linear economy is traditionally managed on high margins generated by pollutive standardized end-products.
              li.mt10.
                
                Our innovative circular economy model is based on the tokenization of digital services dedicated to the textile value-chain interested in participating in the profits generated by online sales volume.
                
      .container
        .row
          .col-sm-8
            h2.h2-flash.font-abril.mb60.mt80 Global Textile
      .container-fluid
        .row
          .col-sm-6.mb30
            .image.mask-skew.wow.fadeIn(data-wow-offset='150' data-wow-duration='0.2s' data-wow-delay='.3s')
              .mask.wow.slideInLeft(data-wow-offset='150' data-wow-duration='1.2s' data-wow-delay='.3s')
                .inside
              img.img-fluid(src='img/pic157.jpg' alt)
          .col-sm-6.mb30
            .image.mask-skew.wow.fadeIn(data-wow-offset='150' data-wow-duration='0.2s' data-wow-delay='.6s')
              .mask.wow.slideInLeft(data-wow-offset='150' data-wow-duration='1.2s' data-wow-delay='.6s')
                .inside
              img.img-fluid(src='img/pic158.jpg' alt)
          .container.mt55
            .row
              .col-sm-12
                p.fs18.
                  
                  The linear economy is traditionally managed on high margins generated by pollutive standardized end-products.
                  
                p.fs18.
                  
                  Our innovative circular economy model is based on tokenization of digital services dedicated to the textile value-chain interested to participate in the profits generated by online sales volume
                  
          .col-sm-12.mb30
            .image.mask-skew.wow.fadeIn(data-wow-offset='150' data-wow-duration='0.2s' data-wow-delay='.3s')
              .mask.wow.slideInLeft(data-wow-offset='150' data-wow-duration='1.2s' data-wow-delay='.3s')
                .inside
              img.img-fluid(src='img/pic159.jpg' alt)
      .container.mt55
        .row
          .col-sm-12
            p.fs18.
              
              The Naturaldyers proposal aims to divulge a disruptive information technology instrument that can provide dynamic data by sharing profits with the global community involved in eco-sustainability principles. The method allows rationalizing territorial GDP related to available natural resources connected with add value generated by involved textile value-chain to guarantee the actual value of a decentralized commercial token able to manage richness in the world in line with existing territorial excellencies and their demand on the market.
              
    .section-item.text-left
      .container
        h1.h2-flash.font-abril.
          
          Our Partners
          
        .row.no-gutters.partner-list.partner-bordered
          .col.col-md-4.partner-item
            span.inside
              img(src='img/pic12.png' alt)
          .col.col-md-4.partner-item
            a.inside(href='#')
              img(src='img/pic13.png' alt)
          .col.col-md-4.partner-item
            a.inside(href='#')
              img(src='img/pic15.png' alt)
          .col.col-md-4.partner-item
            a.inside(href='#')
              img(src='img/pic120.jpg' alt)
          .col.col-md-4.partner-item
            a.inside(href='#')
              img(src='img/pic130.jpg' alt)
  .section.text-center.testimonial
    .container
      .row.justify-content-center
        .col-lg-11
          .a-reviews-carousel.carousel-center-v.owl-carousel.owl-theme.wow.fadeIn(data-wow-delay='.5s')
            .reviews-carousel-item
              .inside
                .reviews-carousel-text.font-libre.
                  
                  “Naturaldyer ou is a digital company that collects available products and services provided by textile value-chain for offering digital design on tested demonstrative samples as a physical basis to be customized.”
                  
                .mt60
                  .text-uppercase.text-primary.fs18
                    strong Alex Ferlani
                  .mt10.fs14
                    | Reinvent textile

                    span.text-grey-light at
                    a(href='#') Naturaldyer
            .reviews-carousel-item.text-white
              .inside
                .reviews-carousel-text.font-libre.
                  
                  "A decentralized cryptocurrency linked to share profits on sales volume. This Naturaldyers' format presents a decentralized circular bio-economy model by providing royalties on production volume for connecting all industrial players."
                  
                .reviews-carousel-author
                  strong Design your brand
                  span.text-grey-light at
                  |  Naturaldyers

            .reviews-carousel-item
              .inside
                .reviews-carousel-text.font-libre.
                  
                  "Farmers begin to carry out a complete circle of any fabric by involving and giving access to the required Raw Material.s"
                  
                .reviews-carousel-author
                  strong Choose your pattern
                  span.text-grey-light at
                  |  Naturaldyers

            .reviews-carousel-item
              .inside
                .reviews-carousel-text.font-libre.
                  
                  "Naturaldyer socializes the textile marketplace and crafts your business with rich textiles and contemporary designs with exceptionally skilled craftsmen and professionals to help and support you in building."
                  
                .reviews-carousel-author
                  strong Choose your color
                  span.text-grey-light at
                  |  Naturaldyers




  



