.footer.mt60
  .footer-flash-about.home-flash-dark.pb-0
    .container.section-content
      | Register now to access your reserved dashboard for getting profits on sales volume.
      .mt-4
        a.underline(href='mailto:info@naturaldyers.com')
          strong info@naturaldyers.com
  .home-flash-dark.pt-0.pb-0
    .container
      hr.mt-0.mb-0
  .footer-flash.home-flash-dark
    .container
      .footer-content-flash
        .row
          .col-md-3.col-6.mb-5
            h5 Office
            .contact-item
              | ESTONIA - TALLINN 10117
              br
              | Narva mnt, 5
            .contact-item
              a(href='mailto:info@naturaldyers.com') info@naturaldyers.com
          .col-md-3.col-6.mb-5
            h5 help
            ul.footer-nav
              li
                a(href='/how-it-works') How It Works
              li
                a(href='/login') Login
              li
                a(href='#services') Services
          .col-md-3.col-6.mb-5
            h5 quick links
            ul.footer-nav
              li
                a(href='/about') About Us
              li
                a(href='/contact') Contact
              li
                a(href='/register') Registration
          .col-md-3.col-6.mb-5.d-flex.align-items-center
            ul.social.social-rounded
              li
                a(href='#')
                  i.socicon-twitter
              li
                a(href='#')
                  i.socicon-facebook
              li
                a(href='#')
                  i.socicon-googleplus
    .site-info
      .container
        .row
          .col-6.col-md-6
            .copyright.text-left
              | © 2021
              strong Naturaldyers
              | . All Rights Reserved.
          .col-6.col-md-6
            .text-right
              | Design by 
              strong
                a(href='https://wscf.io/' target='_blank') WSCF