extends base

block append headDetails
  link(rel='stylesheet' type='text/css' href='./assets/icons/css/all.css')

block content
  .promo-video-container.full-height#home
    .flash-pin-1
    .flash-item-nav.item-nav-1
      a(href='#home') Home
    .circular-container
      .circular-wrapper
        ul.circular-names
          li.circular-name.is-init(data-portrait-index='1')
            span.name-wrapper Farmers
            span.name-wrapper.name-wrapper-date Registration
          li.circular-name.is-init(data-portrait-index='2')
            span.name-wrapper Spinners
            span.name-wrapper.name-wrapper-date Digitization
          li.circular-name.is-init(data-portrait-index='3')
            span.name-wrapper Weavers
            span.name-wrapper.name-wrapper-date Integration
          li.circular-name.is-init(data-portrait-index='4')
            span.name-wrapper Designers
            span.name-wrapper.name-wrapper-date Automation
          li.circular-name.is-init(data-portrait-index='5')
            span.name-wrapper Prosumers
            span.name-wrapper.name-wrapper-date Recycling
          li.circular-name.is-init(data-portrait-index='6')
            span.name-wrapper Professional
            span.name-wrapper.name-wrapper-date Application
        svg(xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 862 862' style='enable-background: new 0 0 862 862;' space='preserve')
          g.circle-path.circle-path--background
            defs
              path#SVGID_1_(d='M862,0H0v862h862V0z M550.5,31c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5 S550.5,35.7,550.5,31z M80.5,184c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S80.5,188.7,80.5,184z M842.5,431 c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S842.5,435.7,842.5,431z M80.5,678c0-4.7,3.8-8.5,8.5-8.5 s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S80.5,682.7,80.5,678z M550.5,833c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5 S550.5,837.7,550.5,833z')
            clipPath#SVGID_2_
              use(href='#SVGID_1_' style='overflow: visible;')
            circle.st0(cx='430' cy='432' r='421' clip-path='url(#SVGID_2_)' fill='none' stroke='#000' stroke-width='3' stroke-miterlimit='10')
          g.circle-path.circle-path--fill
            defs
              path#SVGID_3_(d='M862,0H0v862h862V0z M550.5,31c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5 S550.5,35.7,550.5,31z M80.5,184c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S80.5,188.7,80.5,184z M842.5,431 c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S842.5,435.7,842.5,431z M80.5,678c0-4.7,3.8-8.5,8.5-8.5 s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5S80.5,682.7,80.5,678z M550.5,833c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5s-3.8,8.5-8.5,8.5 S550.5,837.7,550.5,833z')
            clipPath#SVGID_4_
              use(href='#SVGID_3_' style='overflow: visible;')
            circle.st1(cx='430' cy='432' r='421' clip-path='url(#SVGID_4_)' fill='none' stroke='#000' stroke-width='3' stroke-miterlimit='10' style='stroke-dashoffset: 2644px;')
          g.circle-dot(data-portrait-index='1')
            circle.circle-outside(cx='559' cy='833' r='7.5')
            circle.circle-center(cx='559' cy='833' r='4')
          g.circle-dot(data-portrait-index='2')
            circle.circle-outside(cx='89' cy='678' r='7.5')
            circle.circle-center(cx='89' cy='678' r='4')
          g.circle-dot(data-portrait-index='3')
            circle.circle-outside(cx='89' cy='184' r='7.5')
            circle.circle-center(cx='89' cy='184' r='4')
          g.circle-dot(data-portrait-index='4')
            circle.circle-outside(cx='559' cy='31' r='7.5')
            circle.circle-center(cx='559' cy='31' r='4')
          g.circle-dot(data-portrait-index='5')
            circle.circle-outside(cx='851' cy='431' r='7.5')
            circle.circle-center(cx='851' cy='431' r='4')
          g.circle-dot(data-portrait-index='6')
            circle.circle-outside(cx='750' cy='160' r='7.5')
            circle.circle-center(cx='750' cy='160' r='4')
    .video-text-container
      .video-text-item(data-portrait-index='0')
        .inside
          .video-item-title-sub Make a blend to create your brand
          h1.video-item-title Naturaldyer
          .video-item-descr.d-none.d-md-block
            | Custom fabrics from
            br
            | new yarns and colors

          .video-item-descr.d-md-none Swipe right to see all projects
          .video-item-more.d-none.d-md-block click on a circle
      .video-text-item(data-portrait-index='1')
        .inside
          h2.video-item-title
            a(href='#') Farmers
          .video-item-title-sub Raw Material
          .video-item-descr.
            
            We retire a reference of your raw material like Liberian fibre, native wool and natural pigments to test new bio blends.
            
          .video-item-more
            a(href='/register')
              | Register Now
              i.icon.ion-ios-play
        .mobile-video-bg(style='background-image: url(img/bg-video-travel.jpg);')
      .video-text-item(data-portrait-index='2')
        .inside
          h2.video-item-title
            a(href='#') Spinners
          .video-item-title-sub Yarns Catalogs
          .video-item-descr
            br
            | We retire a reference of your YARN through payment at delivery in current currency and activated on the digital tool via offering digitization services.

          .video-item-more
            a(href='/register')
              | Register Now
              i.icon.ion-ios-play
        .mobile-video-bg(style='background-image: url(img/bg-video-noke.jpg);')
      .video-text-item(data-portrait-index='3')
        .inside
          h2.video-item-title
            a(href='#') Weavers
          .video-item-title-sub LOOMS TEXTURES
          .video-item-descr.
            
            We retire a reference of your looms texture through payment at delivery on current currency and offering online digital design by sharing available warp-chains.
            
          .video-item-more
            a(href='/register')
              | Register Now
              i.icon.ion-ios-play
        .mobile-video-bg(style='background-image: url(img/bg-video-surf.jpg);')
      .video-text-item(data-portrait-index='4')
        .inside
          h2.video-item-title
            a(href='#') Designers
          .video-item-title-sub PATTERNS TRADEMARKS
          .video-item-descr.
            
            We offer design studio on your pattern trademark to be activated on the fabrics customizer by promoting new prototyped lead products to be digitally personalized with new colors by professional users.
            
          .video-item-more
            a(href='/register') Register Now
        .mobile-video-bg(style='background-image: url(img/bg-video-dogoby.jpg);')
      .video-text-item(data-portrait-index='5')
        .inside
          h2.video-item-title
            a(href='#') Prosumers
          .video-item-title-sub OVER DYEING SERVICES
          .video-item-descr.
            
            We offer natural dyeing services on selected lead products to allow sanitation procedures.
            
          .video-item-more
            a(href='/register')
              | Register Now
              i.icon.ion-ios-play
        .mobile-video-bg(style='background-image: url(img/bg-video-sayder.jpg);')
      .video-text-item(data-portrait-index='6')
        .inside
          h2.video-item-title
            a(href='#') Professional
          .video-item-title-sub LEAD PRODUCTS
          .video-item-descr.
            
            We offer upgrading services on the digital tool of components to enable chromatic personalization of prototyped lead products on required quantities.
            
          .video-item-more
            a(href='/register')
              | Register Now
              i.icon.ion-ios-play
        .mobile-video-bg(style='background-image: url(img/bg-video-sayder.jpg);')
  .home-flash-section.home-flash-section-dark.section
    .section-item.about-flash.text-left#about
      .container
        .row
          .col-1.flash-pin-2
            .flash-item-nav.item-nav-2
              a(href='#about') Choose Fabric
          .col-10.col-sm-9
            h1.h1-flash.font-abril.
              
              Design A Fabric
              
            .flash-descr.fs18
              strong Design your own fabric with Naturaldyers
              |  an absolute digital workshop that provides the most comprehensive range of new yarns, looms textures, patterns and colours on a digital tool of components to be chosen for personalizing online order reports on small and flexible quantities of fabrics.

          .col-2.d-none.d-sm-block
            .rounded-logo.rounded-logo-scroll
              svg(viewBox='0 0 200 200')
                path#textPath(d='M 75,0 A 75,75 0 0 1 -75,0 A 75,75 0 0 1 75,0' transform='translate(100,100)' fill='none' stroke-width='0')
                g(font-size='28px')
                  text(text-anchor='start')
                    textPath(href='#textPath' startOffset='0%') •  Natural  •  dyer
              .scroll-icon
                i
                i
                i
          .col-lg-12.col-sm-12.customiser_fabric
            .carousel-wrap
              .owl-carousel#firstCarousle
                .item
                  img(src='./img/fabric1.png')
                .item
                  img(src='./img/fabric2.png')
                .item
                  img(src='./img/fabric3.png')
                .item
                  img(src='./img/fabric4.png')
                .item
                  img(src='./img/fabric5.png')
                .item
                  img(src='./img/fabric7.png')
  .home-flash-section.section.section-item.text-left.flash-item#services
    .flash-pin-3
    .flash-item-nav.item-nav-3
      a(href='#services') Customize
    .container
      .row.justify-content-md-center
        .col-lg-12
          h2.fs36.font-abril
            | Build Your Brand By Choosing New Blends
            br
          p.flash-descr.fs18 Select your favourite Yarns and related colours for each module to personalize fabrics order reports via the web.
        .col-lg-3.sizeSelect
          h3.section-item-title Select Size
        .col-lg-9.sizeSelect
          select.Size_selection
            option Please Select Size
            option Medium
            option Small
            option Large
            option Extra-Large
      .row.no-gutters.services-flash.customize_image
        .col-6.col-sm-6.svgBox
          include svg/sei_cut.svg
        .col-lg-6.col-sm-6.Color_Module
          #myCarousel.carousel.slide(data-interval='false' data-ride='carousel')
            .carousel-inner
              .item.active
                .row
                  .col-md-12.mb-3
                    h2.font-libre.mb-4
                      p
                        strong Module 1
                        |  
                        i.fal.fa-scarf.fa-3x
                    p.text-grey-light.lh-lg.
                      
                      Select Yarns for each module, natural colors of your choice. Design your fabric here.
                      
                    .project-info-title.mb70
                      ul.list-unstyled-option
                        li.init YARN 1
                        li.option1(data-value='value 1') YARN 1
                        li.option2(data-value='value 2') YARN 2
                        li.option3(data-value='value 3') YARN 3
                    .overflow-hidden
                      .pallete-list.yarn1
                        #color2.pallete-item(data-wow-delay='.2s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #fefefe;')
                          .color-title #fefefe
                        #color1.pallete-item(data-wow-delay='.3s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #524633;')
                          .color-title #524633
                        #color3.pallete-item(data-wow-delay='.4s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #d7d5d2;')
                          .color-title #d7d5d2
                        #color4.pallete-item(data-wow-delay='.5s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #a36732;')
                          .color-title #a36732
                    .pallete-list.yarn2
                      #color5.pallete-item(data-wow-delay='.6s' data-wow-duration='.5s' data-wow-offset='50')
                        .color(style='background-color: #879f8a;')
                        .color-title #879f8a
                      #color6.pallete-item(data-wow-delay='.7s' data-wow-duration='.5s' data-wow-offset='50')
                        .color(style='background-color: #acb9c8;')
                        .color-title #acb9c8
                      #color7.pallete-item(data-wow-delay='.8s' data-wow-duration='.5s' data-wow-offset='50')
                        .color(style='background-color: #cc9c5c;')
                        .color-title #cc9c5c
                      #color8.pallete-item(data-wow-delay='.9s' data-wow-duration='.5s' data-wow-offset='50')
                        .color(style='background-color: #e1c8a5;')
                        .color-title #e1c8a5
                    .pallete-list.yarn3
                      #col1.pallete-item(data-wow-delay='.6s' data-wow-duration='.5s' data-wow-offset='50')
                        .color(style='background-color: #f4f5db;')
                        .color-title #f4f5db
                      #col2.pallete-item(data-wow-delay='.7s' data-wow-duration='.5s' data-wow-offset='50')
                        .color(style='background-color: #d9dab0;')
                        .color-title #d9dab0
                      #col3.pallete-item(data-wow-delay='.8s' data-wow-duration='.5s' data-wow-offset='50')
                        .color(style='background-color: #487e95;')
                        .color-title #487e95
                      #col4.pallete-item(data-wow-delay='.9s' data-wow-duration='.5s' data-wow-offset='50')
                        .color(style='background-color: #23689b;')
                        .color-title #23689b
              .item
                .row
                  .col-md-12.mb-3
                    h2.font-libre.mb-4
                      p
                        strong Module 2
                        |  
                        i.fal.fa-scarf.fa-3x
                    p.text-grey-light.lh-lg.
                      
                      Select Yarns for each module, natural colors of your choice. Design your fabric here.
                      
                    .project-info-title.mb70
                      ul.list-unstyled-option
                        li.init SELECT YARNS
                        li.option11(data-value='value 1') YARN 1
                        li.option22(data-value='value 2') YARN 2
                        li.option33(data-value='value 3') YARN 3
                    .overflow-hidden
                      .pallete-list.yarn1_module2
                        #col5.pallete-item.pallete-item-2(data-wow-delay='.2s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #cc9c5c;')
                          .color-title #bfff00
                        #col6.pallete-item.pallete-item-2(data-wow-delay='.3s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #bfff00;')
                          .color-title #bfff00
                        #col7.pallete-item.pallete-item-2(data-wow-delay='.4s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #00bfff;')
                          .color-title #00bfff
                        #col8.pallete-item.pallete-item-2(data-wow-delay='.5s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #8000ff;')
                          .color-title #8000ff
                      .pallete-list.yarn2_module2
                        #col11.pallete-item.pallete-item-2(data-wow-delay='.6s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #00af91;')
                          .color-title #00af91
                        #col22.pallete-item.pallete-item-2(data-wow-delay='.7s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #007965;')
                          .color-title #007965
                        #col33.pallete-item.pallete-item-2(data-wow-delay='.8s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #f58634;')
                          .color-title #f58634
                        #col44.pallete-item.pallete-item-2(data-wow-delay='.9s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #ffcc29;')
                          .color-title #ffcc29
                      .pallete-list.yarn3_module2
                        #col55.pallete-item.pallete-item-2(data-wow-delay='.6s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #312c51;')
                          .color-title #312c51
                        #col66.pallete-item.pallete-item-2(data-wow-delay='.7s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #48426d;')
                          .color-title #48426d
                        #col77.pallete-item.pallete-item-2(data-wow-delay='.8s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #f0c38e;')
                          .color-title #f0c38e
                        #col88.pallete-item.pallete-item-2(data-wow-delay='.9s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background-color: #f1aa9b;')
                          .color-title #f1aa9b
              .item
                .row
                  .col-md-12.mb-3
                    h2.font-libre.mb-4
                      p
                        strong Module 3
                        |  
                        i.fal.fa-scarf.fa-3x
                    p.text-grey-light.lh-lg.
                      
                      Select Yarns for each module, natural colors of your choice.Design your fabric here.
                      
                    .project-info-title.mb70
                      ul.list-unstyled-option
                        li.init SELECT YARNS
                        li.option111(data-value='value 1') YARN 1
                        li.option222(data-value='value 2') YARN 2
                        li.option333(data-value='value 3') YARN 3
                    .overflow-hidden
                      .pallete-list.yarn1_module3
                        #col119.pallete-item.pallete-item-3(data-wow-delay='.2s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #ffe227;')
                          .color-title #ffe227
                        #col129.pallete-item.pallete-item-3(data-wow-delay='.3s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #eb596e;')
                          .color-title #eb596e
                        #col139.pallete-item.pallete-item-3(data-wow-delay='.4s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #4d375d;')
                          .color-title #4d375d
                        #col149.pallete-item.pallete-item-3(data-wow-delay='.5s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #121013;')
                          .color-title #121013
                      .pallete-list.yarn2_module3
                        #col159.pallete-item.pallete-item-3(data-wow-delay='.6s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #583d72;')
                          .color-title #583d72
                        #col169.pallete-item.pallete-item-3(data-wow-delay='.7s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #007965;')
                          .color-title #007965
                        #col179.pallete-item.pallete-item-3(data-wow-delay='.8s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #9f5f80;')
                          .color-title #9f5f80
                        #col189.pallete-item.pallete-item-3(data-wow-delay='.9s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #ffba93;')
                          .color-title #ffba93
                      .pallete-list.yarn3_module3
                        #col199.pallete-item.pallete-item-3(data-wow-delay='.6s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #f8dc81;')
                          .color-title #f8dc81
                        #col219.pallete-item.pallete-item-3(data-wow-delay='.7s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #eff7e1;')
                          .color-title #eff7e1
                        #col229.pallete-item.pallete-item-3(data-wow-delay='.8s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #a2d0c1;')
                          .color-title #a2d0c1
                        #col239.pallete-item.pallete-item-3(data-wow-delay='.9s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #214151;')
                          .color-title #214151
              .item
                .row
                  .col-md-12.mb-3
                    h2.font-libre.mb-4
                      p
                        strong Module 4
                        |  
                        i.fal.fa-scarf.fa-3x
                    p.text-grey-light.lh-lg.
                      
                      Select Yarns for each module, natural colors of your choice.Design your fabric here.
                      
                    .project-info-title.mb70
                      ul.list-unstyled-option
                        li.init SELECT YARNS
                        li.option111(data-value='value 1') YARN 1
                        li.option222(data-value='value 2') YARN 2
                        li.option333(data-value='value 3') YARN 3
                    .overflow-hidden
                      .pallete-list.yarn1_module3
                        #col119.pallete-item.pallete-item-4(data-wow-delay='.2s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #007965;')
                          .color-title #007965
                        #col129.pallete-item.pallete-item-4(data-wow-delay='.3s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #1a508b;')
                          .color-title #1a508b
                        #col139.pallete-item.pallete-item-4(data-wow-delay='.4s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #c1a1d3;')
                          .color-title #c1a1d3
                        #col149.pallete-item.pallete-item-4(data-wow-delay='.5s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #121013;')
                          .color-title #121013
                      .pallete-list.yarn2_module3
                        #col159.pallete-item.pallete-item-4(data-wow-delay='.6s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #ffb26b;')
                          .color-title #ffb26b
                        #col169.pallete-item.pallete-item-4(data-wow-delay='.7s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #007965;')
                          .color-title #007965
                        #col179.pallete-item.pallete-item-4(data-wow-delay='.8s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #e6b566;')
                          .color-title #e6b566
                        #col189.pallete-item.pallete-item-4(data-wow-delay='.9s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #83a95c;')
                          .color-title #83a95c
                      .pallete-list.yarn3_module3
                        #col199.pallete-item.pallete-item-4(data-wow-delay='.6s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #ff8585;')
                          .color-title #ff8585
                        #col219.pallete-item.pallete-item-4(data-wow-delay='.7s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #ff8585;')
                          .color-title #ff8585
                        #col229.pallete-item.pallete-item-4(data-wow-delay='.8s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #3a6351;')
                          .color-title #3a6351
                        #col239.pallete-item.pallete-item-4(data-wow-delay='.9s' data-wow-duration='.5s' data-wow-offset='50')
                          .color(style='background: #6e7c7c;')
                          .color-title #6e7c7c
              .row
                .col-lg-6.sizeSelect
                  h3.section-item-title Calculated Price
                .col-lg-6.sizeSelect
                  input.form-control(type='number' placeholder='154 NDST')
            a.left.carousel-control(href='#myCarousel' data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
              span.sr-only Previous
            a.right.carousel-control(href='#myCarousel' data-slide='next')
              span.glyphicon.glyphicon-chevron-right
              span.sr-only Next
        .col-lg-12
          h2.fs36.font-abril Please Select Height
        .col-lg-8
          .slidecontainer
            input.slider#myRange(type='range' min='1' max='180' value='180')
            p
              | Value: 
              span#demo
        .col-lg-4
          .horizontal-service-item-more
            a.btn.btn-primary.btn-sm.range(href='service.html') Confirm
        .col-lg-8.mt18
          p.fs18.
            
            Naturaldyers develops a disruptive digital Hub that collects available products and services provided by the textile supply-chain to offer flexible quantities of fabrics by sharing defined warp-chains. We offered online estimation on demonstrative samples to be purchased as a tactile and physical sample and activated on the customizer to support digital design activities.
            
  .home-flash-section.section.pt-0
    .section-item.text-left.flash-item#works
      .flash-pin-4
      .flash-item-nav.item-nav-4
        a(href='#works') Services
      .container
        .mt70.text-left
          .row
            .col-md-9
              h2.fs36.mb20.wow.fadeInUp.font-abril.
                
                Connecting Supply-Chain With Small Business Through Digital Customization
                
          .row
            .col-md-8
              h3.fs18.lh-md.text-normal.mt30.wow.fadeInUp(data-wow-delay='.2s').
                
                We offer fabrics customizer integrated with the prototyped lead products to ensure a continuous collecting and delivery of new personalized fabrics to involved Spinners and Weavers.
                
    .section-item.text-left.flash-item
      .container
        .project-list-flash.row.no-gutters.a-grid
          .grid-item.col-sm-6
            h2.font-abril.fs36.text-center COLOR
            .article-list-flash
              a.article-item(href='single-post-with-sidebar.html')
                .article-item-photo(style='background-image: url(assets/images/Spinner.jpg);')
                .article-item-date
                  span.date.font-abril
                    img(src='img/spinners.png' style='width: 100px;')
                .article-item-category Spinners
                p.fs18 Personalization services on your available YARN catalogue to get profits on sales volume.
          .grid-item.col-sm-6
            h2.font-abril.fs36.text-center PATTERN
            .article-list-flash
              a.article-item(href='single-post-with-sidebar.html')
                .article-item-photo(style='background-image: url(./assets/images/Weaver.png);')
                .article-item-date
                  span.date.font-abril
                    img(src='img/weavers.png' style='width: 100px;')
                .article-item-category Weavers
                p.fs18 Personalization services on your available LOOMS TEXTURES to get profits on sales volume.
        p.fs18 REGISTER NOW TO GET PROFITS ON SALES VOLUME
        p.fs18 Choose your favourite references of tested fabrics and yarns as a tactile basis to support digital design
    .section-item.text-left.flash-item#partners
      .flash-pin-5
      .flash-item-nav.item-nav-5
        a(href='#partners') Investors
      .container
        .row.justify-content-md-center
          .col-lg-12
            h3.section-item-title Investors
            h2.fs36.font-abril.
              
              Virtual sales area for designers where they can create their collections of clothes for professionals.
              
            .row.no-gutters
              .col-lg-6.padding-0
                .section-item.text-left
                  .article-content.mt60
                    ul
                      li Customize your folder catalogue to identify product category.
                      li Personalize your fabric order reports.
                      li Personalize your tool of components to increase the variable of customization in line with your production and expenses capacity.
                      li Access to the reserved dashboard to upload prototyped items.
                      li Promote your prototyped lead product integrated with the customizer by the digital tool of components to collect your reserved order reports on new chromatic variables provided by professional users.
                      li Submit the new customized order reports to your involved supply-chain composed of Spinners and Weavers.
              .col-lg-6
                h4.mt60.text-center.
                  Download the whitepaper
                .text-center
                  a(href='/docs/NDSwhitepaperv1.pdf')
                    i.fas.fa-download.fa-7x.custom_yellow_color
    .section-item.text-left.flash-item#news
      .flash-pin-6
      .flash-item-nav.item-nav-6
        a(href='#news') Pilot Plant
      .container
        .row.justify-content-md-center
          .col-lg-12
            h3.section-item-title Pilot Plant
        .article-list-flash.row.wow.fadeInUp
          h2.fs36.font-abril.margin-left_09.
            
            Pilot Plant For Farmers & Prosumers
            
          .col-md-8
            h3.fs18.lh-md.text-normal.mt30.wow.fadeInUp(data-wow-delay='.2s').
              
              Building a bridge between technology and textile to save biodiversity.
              
          .row.horizontal-service-list
            .col-11.mx-auto.mx-md-0.col-md-6.col-lg-6
              .horizontal-service-item.wow.fadeInUp(data-wow-delay='.2s')
                .num 1.
                .horizontal-service-item-photo
                  img.photo-position.black_background(src='img/farmers.png' alt)
                .horizontal-service-item-title.
                  
                  Farmers
                  
                .horizontal-service-item-descr.text-grey.
                  
                  We offer participation in sales volume directly generated by business and free users.
                  
                .horizontal-service-item-more
                  a.btn.btn-primary.btn-sm(href='service.html')
                    | Know More 
                    i.icon.ion-ios-arrow-right
            .col-11.mx-auto.mx-md-0.col-md-6.col-lg-6
              .horizontal-service-item.wow.fadeInUp(data-wow-delay='.4s')
                .num 2.
                .horizontal-service-item-photo
                  img.photo-position.black_background(src='img/prosumrs.png' alt)
                .horizontal-service-item-title.
                  
                  Prosumers
                  
                .horizontal-service-item-descr.text-grey.
                  
                  We offer chromatic personalization on selected lead products by over-dyeing services.
                  
                .horizontal-service-item-more
                  a.btn.btn-primary.btn-sm(href='service.html')
                    | Know More 
                    i.icon.ion-ios-arrow-right



block append script
  script(src='js/script.js')
  script(src='js/customizer.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
  script(src='js/pageInitIndex.js')   