doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=0')
    meta(name='description' content='Fabricating technology and Textile Industry by leveraging the use of cryptocurrency and its decentralized economy.')
    meta(name='author' content='WSCF Global')
    title Naturaldyers - How It Works
    link(href='css/bootstrap.min.css' rel='stylesheet')
    link(href='css/animsition.min.css' rel='stylesheet')
    link(href='css/owl.carousel.min.css' rel='stylesheet')
    link(href='css/owl.theme.default.min.css' rel='stylesheet')
    link(href='css/socicon.css' rel='stylesheet')
    link(href='css/ionicons.min.css' rel='stylesheet')
    link(href='css/animate.min.css' rel='stylesheet')
    link(href='css/jquery.fancybox.min.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
    link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
    link(rel='manifest' href='favicon/site.webmanifest')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')

  body#dashboard.theme-orange.fixed-footer.fixed-footer-lg.dark-horizontal
    .animsition
      .wrapper.parallax-start
        include header

        .section.black_background
          .section-item
            .container
              .mt70.text-left
                .row
                  .col-md-9
                    h1.h1-lg.mb20.wow.fadeInUp How it works?
                .row
                  .col-md-12
                    h3.fs30.lh-md.text-normal.mt30.wow.fadeInUp.text-white(data-wow-delay='.2s').
                      
                      The integration of the software with territorial pilot plants dedicated to sharing dynamic data related to the provenance and availability of natural resources allows online user tracking and monitoring transparency and traceability of raw materials, costs, and expenses related to the available products and services textile supply-chain. The ability and creativity of each designer connected with the textile value-chain are offered to professional users interested in joining a global brand able to balance richness in the world and access on the market.
                      
        .container-fluid.black_background
          .stage-list
            .stage-item.row.no-gutters
              .col-sm-6.order-sm-last.stage-item-photo.mask-skew.wow.fadeIn(data-wow-offset='150' data-wow-duration='0.2s' data-wow-delay='.3s' style='background-image: url(img/pic162.jpg);')
                .mask.wow.slideInLeft(data-wow-offset='150' data-wow-duration='1.2s' data-wow-delay='.3s')
                  .inside
                img.img-fluid.d-sm-none(src='img/pic162.jpg' alt)
              .col-sm-6.order-sm-first.stage-item-detail.black_background
                .stage-item-num 1.
                .stage-item-title Choose Fabric
                .row.text-bold.fs20
                  .col-lg-6
                    p.text-white.fs Select demonstrative samples of fabric to be activated on the digital customizer as tactile and physical basis to support online design activities .
            .stage-item.row.no-gutters
              .col-sm-6.stage-item-photo.mask-skew.wow.fadeIn(data-wow-offset='150' data-wow-duration='0.2s' data-wow-delay='.3s' style='background-image: url(img/pic163.jpg);')
                .mask.wow.slideInLeft(data-wow-offset='150' data-wow-duration='1.2s' data-wow-delay='.3s')
                  .inside
                img.img-fluid.d-sm-none(src='img/pic163.jpg' alt)
              .col-sm-6.stage-item-detail.black_background
                .stage-item-num 2.
                .stage-item-title Customize Fabric Pattern
                .row.text-bold.fs20
                  .col-lg-6
                    p.fs18.text-white Select the size of pattern in order to evaluate new weights and heights of fabrics needed to create new prototyped lead products.
            .stage-item.row.no-gutters
              .col-sm-6.order-sm-last.stage-item-photo.mask-skew.wow.fadeIn(data-wow-offset='150' data-wow-duration='0.2s' data-wow-delay='.3s' style='background-image: url(img/pic164.jpg);')
                .mask.wow.slideInLeft(data-wow-offset='150' data-wow-duration='1.2s' data-wow-delay='.3s')
                  .inside
                img.img-fluid.d-sm-none(src='img/pic164.jpg' alt)
              .col-sm-6.order-sm-first.stage-item-detail.black_background
                .stage-item-num 3.
                .stage-item-title Configure All Modules
                .row.text-bold.fs20
                  .col-lg-6
                    p.text-white.fs18 Select new yarns and colors in each module.
            .stage-item.row.no-gutters
              .col-sm-6.stage-item-photo.mask-skew.wow.fadeIn(data-wow-offset='150' data-wow-duration='0.2s' data-wow-delay='.3s' style='background-image: url(img/pic165.jpg);')
                .mask.wow.slideInLeft(data-wow-offset='150' data-wow-duration='1.2s' data-wow-delay='.3s')
                  .inside
                img.img-fluid.d-sm-none(src='img/pic165.jpg' alt)
              .col-sm-6.stage-item-detail.black_background
                .stage-item-num 4.
                .stage-item-title Confirm
                .row.text-bold.fs20
                  .col-lg-6
                    p.text-white.fs18.
                      
                      Confirm your personalized fabric order report to access to a reserved dashboard able to customize the tool of components to be integrated with personal showcases dedicated to prototyped lead products.
                      
            .stage-item.row.no-gutters
              .col-sm-6.order-sm-last.stage-item-photo.mask-skew.wow.fadeIn(data-wow-offset='150' data-wow-duration='0.2s' data-wow-delay='.3s' style='background-image: url(img/pic166.jpg);')
                .mask.wow.slideInLeft(data-wow-offset='150' data-wow-duration='1.2s' data-wow-delay='.3s')
                  .inside
                img.img-fluid.d-sm-none(src='img/pic166.jpg' alt)
              .col-sm-6.order-sm-first.stage-item-detail.black_background
                .stage-item-num 5.
                .stage-item-title Virtual Gigafactory
                .row.text-bold.fs20
                  .col-lg-6
                    p.text-white.fs18 The digital e-workshop integrates fabric customizer with prototyped lead products to collect new reserved personalized items to be subjected to involved supply chain.
      
      include footer

    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='js/smoothscroll.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/animsition.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/wow.min.js')
    script(src='js/jquery.pagepiling.min.js')
    script(src='js/isotope.pkgd.min.js')
    script(src='js/jquery.fancybox.min.js')
    script(src='js/TweenMax.min.js')
    script(src='js/ScrollMagic.min.js')
    script(src='js/animation.gsap.min.js')
    script(src='js/jquery.viewport.js')
    script(src='js/jquery.countdown.min.js')
    script(src='js/script.js')
    script(src='js/pageInit.js')