extends base

block append script
  script(src='js/owl.carousel.min.js')
  script(src='js/jquery.pagepiling.min.js')
  script(src='js/script.js')

block content
  .section.black_background
    .section-item.text-left
      .container
        .row.align-items-end.mt50
          .col-sm-8.mb90
            h3.section-item-title-xs Error
            h1.h2-flash.font-abril.mb65 You are not logged In .
            .fs18.text-grey Go to 
              a(href='/login') login page