doctype html
html
  head
    title Login
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../assets/css/materialize.min.css" type="text/css")
    link(rel="stylesheet" href="../assets/css/icons.min.css" type="text/css")
    link(rel="stylesheet" href="../assets/css/main.css" type="text/css")
    link(rel="stylesheet" href="../assets/css/responsive.css" type="text/css")
    link(rel="stylesheet" href="../assets/css/color-schemes/color.css" type="text/css" title="color3")
  body.dark.panel-data.expand-data
    .panel-content#loginPanel
      .lgn-wrp.grysh
        .bg-img(style='background-image: url(../assets/images/resource/bg-img1.png);')
        #my_login 
          .lgn-innr
            .widget.lgn-frm
              .frm-tl
                h4 Login to Naturaldyer
                span Fill your detail to get in
              form#htmlForm(name='login')
                .row.mrg10
                  .col.m12.col.s12.col.l12
                    input#email.brd-rd5(type="email" placeholder="Email")
                  .col.m12.col.s12.col.l12
                    input#password.brd-rd5(type="password" placeholder="Password")
                  .col.m12.col.s12.col.l12
                    span.chbx
                      input#chk1(type="checkbox")
                      label(for="chk1") Remember Me
                  .col.m12.col.s12.col.l12
                    button.green-bg.brd-rd5(type="submit") Login Now
                  .col.m12.col.s12.col.l12
                    a.frgt(href="#" title="") Forget password?
                  .col.m12.col.s12.col.l12
                    a.brd-rd5.blue-bg.act-btn(href="/register" title="") Create An Account
        footer
          p
            | Copyright 
            a(href="/" title="Home") Naturaldyer
            |  & 2020 - 2021
          span Decentralized Textile Valuechain.
    script(src='/js/bundle.js')
    script(src="../assets/js/jquery.min.js" type="text/javascript")
    script(src="../assets/js/materialize.min.js" type="text/javascript")
    script(src="../assets/js/select2.min.js" type="text/javascript")
    script(src="../assets/js/slick.min.js" type="text/javascript")
    script(src="../assets/js/isotope.min.js" type="text/javascript")
    script(src="../assets/js/isotope-int.js" type="text/javascript")
    script(src="../assets/js/jquery.counterup.js" type="text/javascript")
    script(src="../assets/js/waypoints.min.js" type="text/javascript")
    script(src="../assets/js/highcharts.js" type="text/javascript")
    script(src="../assets/js/exporting.js" type="text/javascript")
    script(src="../assets/js/highcharts-more.js" type="text/javascript")
    script(src="../assets/js/moment.min.js" type="text/javascript")
    script(src="../assets/js/jquery.circliful.min.js" type="text/javascript")
    script(src="../assets/js/fullcalendar.min.js" type="text/javascript")
    script(src="../assets/js/jquery.downCount.js" type="text/javascript")
    script(src="../assets/js/jquery.bootstrap-touchspin.min.js" type="text/javascript")
    script(src="../assets/js/jquery.formtowizard.js" type="text/javascript")
    script(src="../assets/js/form-validator.min.js" type="text/javascript")
    script(src="../assets/js/form-validator-lang-en.min.js" type="text/javascript")
    script(src="../assets/js/cropbox-min.js" type="text/javascript")
    script(src="../assets/js/jquery.slimscroll.min.js" type="text/javascript")
    script(src="../assets/js/ion.rangeSlider.min.js" type="text/javascript")
    script(src="../assets/js/jquery.poptrox.min.js" type="text/javascript")
    script(src="../assets/js/styleswitcher.js" type="text/javascript")
    script(src="../assets/js/main.js" type="text/javascript")
