doctype html
html
  head
    title Naturaldyer
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../assets/css/materialize.min.css" type="text/css")
    link(rel="stylesheet" href="../assets/css/icons.min.css" type="text/css")
    link(rel="stylesheet" href="../assets/css/main.css" type="text/css")
    link(rel="stylesheet" href="../assets/css/responsive.css" type="text/css")
    link(rel="stylesheet" href="../assets/css/color-schemes/color.css" type="text/css" title="color3")
  body.dark.panel-data.expand-data
    .panel-content#registrationPanel
      .lgn-wrp.grysh
        .bg-img(style='background-image: url(../assets/images/resource/bg-img1.png);')
        .lgn-innr
          .widget.lgn-frm
            .frm-tl
              h4 Register to  Naturaldyer
              span Fill your detail for new registration
            form.form-wrp#htmlForm(name='registration')
              .row.mrg20
                .col.m6.col.s6.col.l6
                  p Name
                  input#name.brd-rd30(type="text" placeholder="Name*")
                .col.m6.col.s6.col.l6
                  p email
                  input#email.brd-rd30(type="email" placeholder="Email*")
                .col.m6.col.s6.col.l6
                  p Phone
                  input#phone.brd-rd30(type="text" placeholder="Phone Number*")
                .col.m6.col.s6.col.l6
                  P Password
                  input#password.brd-rd30(type="password" placeholder="Password*")
                .col.m6.col.s6.col.l6
                  p Confirm Password
                  input#confirmPassword.brd-rd30(type="password" placeholder="Confirm Password*")
                .col.m12.col.s12.col.l12
                  .gender-box
                    strong Customer Type
                    span.rdio-bx
                      input#farmer(type="radio" value="farmer" name="customerType")
                      label(for="farmer") Farmer
                    span.rdio-bx
                      input#spinner(type="radio" value="spinner" name="customerType")
                      label(for="spinner") Spinner
                    span.rdio-bx
                      input#weaver(type="radio" value="weaver" name="customerType")
                      label(for="weaver") Weaver
                    span.rdio-bx
                      input#designer(type="radio" value="designer" name="customerType")
                      label(for="designer") Designer
                .col.m12.col.s12.col.l12
                  button.green-bg.brd-rd5(type="submit")
                    i.fa.fa-paper-plane
                    |  Registration Completed
        footer
          p
            | Copyright 
            a(href="/" title="Home") Naturaldyer
            |  & 2020 - 2021
          span Decentralized Textile Valuechain.
    script(src='../js/bundle.js')
    script(src="../assets/js/jquery.min.js" type="text/javascript")
    // Vendor: Followed by our custom Javascripts
    script(src="../assets/js/materialize.min.js" type="text/javascript")
    script(src="../assets/js/select2.min.js" type="text/javascript")
    script(src="../assets/js/slick.min.js" type="text/javascript")
    // Our Website Javascripts
    script(src="../assets/js/isotope.min.js" type="text/javascript")
    script(src="../assets/js/isotope-int.js" type="text/javascript")
    script(src="../assets/js/jquery.counterup.js" type="text/javascript")
    script(src="../assets/js/waypoints.min.js" type="text/javascript")
    script(src="../assets/js/highcharts.js" type="text/javascript")
    script(src="../assets/js/exporting.js" type="text/javascript")
    script(src="../assets/js/highcharts-more.js" type="text/javascript")
    script(src="../assets/js/moment.min.js" type="text/javascript")
    script(src="../assets/js/jquery.circliful.min.js" type="text/javascript")
    script(src="../assets/js/fullcalendar.min.js" type="text/javascript")
    script(src="../assets/js/jquery.downCount.js" type="text/javascript")
    script(src="../assets/js/jquery.bootstrap-touchspin.min.js" type="text/javascript")
    script(src="../assets/js/jquery.formtowizard.js" type="text/javascript")
    script(src="../assets/js/form-validator.min.js" type="text/javascript")
    script(src="../assets/js/form-validator-lang-en.min.js" type="text/javascript")
    script(src="../assets/js/cropbox-min.js" type="text/javascript")
    script(src="../assets/js/jquery.slimscroll.min.js" type="text/javascript")
    script(src="../assets/js/ion.rangeSlider.min.js" type="text/javascript")
    script(src="../assets/js/jquery.poptrox.min.js" type="text/javascript")
    script(src="../assets/js/styleswitcher.js" type="text/javascript")
    script(src="../assets/js/main.js" type="text/javascript")
