extends ../adminBase

block content
  .panel-content#supplier
  .widget.pad50-65
    form.form-wrp#htmlForm(name='createProductCategory')
      .row.mrg20
        .col.m6.col.s12.col.l6
          .file-upload-box
            strong Upload Image
            .file-box
              label.fileContainer
                span.blue-bg.brd-rd5 Choose File
                span#titleFile No File Selected
                input#file_input(type='file')
        .col.m6.col.s12.col.l6.mt-top-1
          p Name
          input.brd-rd5#name(name='name' type='text' placeholder='Name*')
          span.error-box
        .col.m6.col.s12.col.l6.mt-top-1
          p Description
          textarea.brd-rd5#description(placeholder='Enter a description...')
        .col.m6.col.s12.col.l6.mt-top-1
          p Notes
          textarea.brd-rd5#notes(placeholder='Write down some notes...')
        .col.m6.s12.col.l6.mt-top-1
          .opt-btn
            p Active
            label.switch-light.switch-candy
              input#active(type='checkbox')
              span
                span Off
                span On
                a
        .col.m12.col.s12.col.l12.save-now.mt-top-1
            button.green-bg.brd-rd5(type="submit") Submit