extends ../adminBase

block content
  .panel-content#colourPanel
    .widget.pad50-65
      form.form-wrp#htmlForm(name='createColour')
        .row.mrg20.warps
          .col.m4.col.s6.col.l4
            p Code
            input.brd-rd5#code(name='code' type='text' placeholder='Code*')
            span.error-box
          .col.m4.col.s6.col.l4
            p Title
            input.brd-rd5#title(name='title' type='text' placeholder='title*')
            span.error-box
          .col.m4.col.s12.col.l4
            p Select Yarn
            span.slct-bx
              span
                select#yarnId
                  option(value='0' selected=true) Yarn Id
                  each yarn in allActiveColours
                    option(value= yarn._id)= yarn.title
          .col.m4.col.s6.col.l4
            p Hexadecimal Colour
            input.brd-rd5#hexadecimalColour(name='hexadecimal colour' type='text' placeholder='hexadecimalColour*')
            span.error-box
          .col.m4.col.s6.col.l4
            p Cost Per Killogram
            input.brd-rd5#costperKilograms(name='costperkilogram' type='number' placeholder='Cost Per Kilogram*')
            span.error-box
          .col.m4.col.s6.col.l4
            p Supplement
            input.brd-rd5#supplement(name='supplement' type='number' placeholder='supplement*')
            span.error-box
          .col.m6.col.s6.col.l6
            p Supplement Cost
            input.brd-rd5#supplementCost(name='supplement cost' type='number' placeholder='supplement cost*')
            span.error-box
          .col.m6.col.s6.col.l6
            p Sample Price
            input.brd-rd5#samplePrice(name='sampleprice' type='number' placeholder='sampleprice*')
            span.error-box
          .col.m6.col.s12.col.l6
            p Description
            textarea.brd-rd5#description(placeholder='Enter a description...')
          .col.m6.col.s12.col.l6
            p Notes
            textarea.brd-rd5#notes(placeholder='notes...')
          .col.m6.col.s12.col.l6.mt-top-1
            .file-upload-box
              strong Upload Image
              .file-box
                label.fileContainer
                  span.blue-bg.brd-rd5 Choose File
                  span#titleFile No File Selected
                  input#file_input(type='file')
          .col.m6.s12.col.l6
            .opt-btn
              p Active
              label.switch-light.switch-candy
                input#active(type='checkbox')
                span
                  span Off
                  span On
                  a
          .col.m12.col.s12.col.l12.save-now.mt-top-1
            button.green-bg.brd-rd5(type="submit") Submit