header.header.side-header.expand-header.hdr-bgclr
  .nav-head
    a(href='/') Naturaldyers
    span.menu-trigger
      i.ion-android-menu
  nav.custom-scrollbar
    ul.drp-sec
      li
        a(href='/dashboard' title='')
          i.far.fa-wallet
          | Dashboard 
      li
        a(href='/user/productCategorys/list' title='')
          i.fas.fa-sitemap
          | Product Category
      li
        a(href='/user/warps/list' title='')
          i.fad.fa-scarf
          | Warps
      li
        a(href='/user/looms/list' title='')
          i.far.fa-tshirt
          | Looms
      li
        a(href='/user/collections/list' title='')
          i.fal.fa-album-collection
          | Collections
      li
        a(href='/user/sizes/list' title='')
          i.fas.fa-ruler-triangle
          | Sizes
      li
        a(href='/user/patterns/list' title='')
          i.fad.fa-border-style-alt
          | Patterns
      li
        a(href='/user/modules/list' title='')
          i.fas.fa-border-style
          | Modules
      li
        a(href='/user/yarns/list' title='')
          i.fas.fa-sheep
          | Yarns
      li
        a(href='/user/colours/list' title='')
          i.fal.fa-palette
          | Colors
      li
        a#logout(title='')
          i.far.fa-user-alt
          | Logout
.pg-tp
  .pr-tp-inr
    h4= title
      
    