header.header.side-header.expand-header.hdr-bgclr
  .nav-head
    | Naturaldyers
    span.menu-trigger
      i.ion-android-menu
  nav.custom-scrollbar
    ul.drp-sec
      li
        a(href='dashboard.html' title='')
          i.far.fa-wallet
          | Dashboard
      li
        a(href='/admin/suppliers' title='')
          i.fas.fa-people-arrows
          | Suppliers
      li
        a(href='/admin/productCategorys' title='')
          i.fas.fa-sitemap
          | Product Category
      li
        a(href='/admin/warps' title='')
          i.fad.fa-scarf
          | Warps
      li
        a(href='/admin/looms' title='')
          i.far.fa-tshirt
          | Looms
      li
        a(href='/admin/collections' title='')
          i.fal.fa-album-collection
          | Collections
      li
        a(href='/admin/sizes' title='')
          i.fas.fa-ruler-triangle
          | Sizes
      li
        a(href='/admin/yarns' title='')
          i.fas.fa-sheep
          | Yarns
      li
        a(href='/admin/colours' title='')
          i.fal.fa-palette
          | Colors
      li
        a(href='/admin/patterns' title='')
          i.fad.fa-border-style-alt
          | Patterns
      li
        a(href='/admin/modules' title='')
          i.fas.fa-border-style
          | Modules
.pg-tp
  .pr-tp-inr
    h4= title
      
    