mixin pop-up()
  #modal1.modal
    .modal-content.grey_background
      h6.custom_orange_color Do You Want To Proceed Withdrawal?
      hr
      a.brd-rd30.waves-effect.waves-light.btn.btn-sm(href='#') Proceed
      a.brd-rd30.waves-effect.waves-light.btn.red.btn-sm(href='#') Cancel