extends ../userBase

block content
  .pg-tp
    i.ion-cube
    .pr-tp-inr
      h4
        | Welcome to 
        strong Naturaldyers!
        span
      span Your control panel to manage NDS Token, order & Fabrics.
  .panel-content
    .filter-items
      .row.grid-wrap.mrg20
        .col.m4.grid-item.col.s12.col.l3
          .stat-box.widget.bg-clr1
            .wdgt-ldr
              .ball-scale-multiple
                div
                div
                div
            i.fas.fa-coins
            .stat-box-innr
              span
                | NDST 
                i.counter 1,206,90
              h5 Total Balance
            span
              i.ion-ios-stopwatch
              |  Total worth of your assets
        .col.m4.grid-item.col.s12.col.l3
          .stat-box.widget.bg-clr2
            .wdgt-ldr
              .ball-scale-multiple
                div
                div
                div
            i.fad.fa-coins
            .stat-box-innr
              span
                | NDST 
                i.counter 20,507
              h5 NDST Used
            span
              i.ion-ios-stopwatch
              |  Total NDST Spent
        .col.m4.grid-item.col.s12.col.l3
          .stat-box.widget.bg-clr3
            .wdgt-ldr
              .ball-scale-multiple
                div
                div
                div
            i.ion-cube
            .stat-box-innr
              span
                | NDST 
                i.counter 79
              h5 Total Deposits
            span
              i.ion-ios-stopwatch
              |  Total NDST Deposited
        .col.m4.grid-item.col.s12.col.l3
          .stat-box.widget.bg-clr4
            .wdgt-ldr
              .ball-scale-multiple
                div
                div
                div
            i.fas.fa-gem
            .stat-box-innr
              span
                | NDST 
                i.counter 5347
              h5 Total Withdraw
            span
              i.ion-ios-stopwatch
              |  Total NDST Withdrawn
        .widget.pad50-65
          .widget-title2
            h4 Your Fabrics
            span Manage Your Fabrics Here!
          .rmv-ext6
            .row.mrg20
              .m4.col.s12.col.l4
                .serv-bx.styl2.brd-rd5
                  i.brd-rd50.orange-text.fa.fa-cubes
                  .serv-inf
                    h4 Garnet
                    p.
                      
                      Aliquam architecto beatae cupiditate delectus dicta dolores doloribus eaque eos esse excepturi expedita illum inventore.
                      
              .m4.col.s12.col.l4
                .serv-bx.styl2.brd-rd5
                  i.brd-rd50.blue-text.fa.fa-diamond
                  .serv-inf
                    h4 Ruby
                    p.
                      
                      Aliquam architecto beatae cupiditate delectus dicta dolores doloribus eaque eos esse excepturi expedita illum inventore.
                      
              .m4.col.s12.col.l4
                .serv-bx.styl2.brd-rd5
                  i.brd-rd50.green-text.fa.fa-magnet
                  .serv-inf
                    h4 Amber
                    p.
                      
                      Aliquam architecto beatae cupiditate delectus dicta dolores doloribus eaque eos esse excepturi expedita illum inventore.
                      
            .row.mrg20
              .m4.col.s12.col.l4
                .serv-bx.styl2.brd-rd5
                  i.brd-rd50.orange-text.fa.fa-cubes
                  .serv-inf
                    h4 Opal
                    p.
                      
                      Aliquam architecto beatae cupiditate delectus dicta dolores doloribus eaque eos esse excepturi expedita illum inventore.
                      
              .m4.col.s12.col.l4
                .serv-bx.styl2.brd-rd5
                  i.brd-rd50.blue-text.fa.fa-diamond
                  .serv-inf
                    h4 Yellow Sphere
                    p.
                      
                      Aliquam architecto beatae cupiditate delectus dicta dolores doloribus eaque eos esse excepturi expedita illum inventore.
                      
              .m4.col.s12.col.l4
                .serv-bx.styl2.brd-rd5
                  i.brd-rd50.green-text.fa.fa-magnet
                  .serv-inf
                    h4 Amber
                    p.
                      
                      Aliquam architecto beatae cupiditate delectus dicta dolores doloribus eaque eos esse excepturi expedita illum inventore.


  
                      
